.createBtn {
  display: flex;
  justify-content: center;
 }
.typeBtn {
  display: grid;
}
.searchBtn  {
  display: grid;
  justify-content: center;
}
.addBtn,.deleteWorkoutBtn, .editWorkoutBtn  {
  background-color: rgba(149, 149, 150, 0.722);
  border-radius: 12px;
}
.workouts__title {
  display: flex;
  justify-content: center;
}
/* .workouts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  } */
.workout {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid rgb(23, 22, 19);
  }
.workoutRoutine {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid rgb(23, 22, 19);
  }
  
 
 