.routines__title {
    display: flex;
    justify-content: center;
  }
  .routineCard, .routineDetail {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid rgb(23, 22, 19);
  }

 .deleteRoutineBtn,.deleteWorkoutBtn,.editRoutineBtn {
    background-color: rgba(149, 149, 150, 0.722);
    border-radius: 12px;
 }

